@import '../styles/_colors';
@import '../styles/_spacing';
/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: $primary;
  border-width: 1px 1px 3px;
  border-radius: 5px;
  border: 1px solid $tertiary;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  &-pill {
    display: inline-block;
    padding: 10px 20px;
    background-color: $primary;
    height: auto;
    border-width: 1px 1px 3px;
    border-radius: 10em;
    border: 1px solid $secondary;
    color: #f8f8f8;
    font-size: 1.1rem;
    outline: 0;
    cursor: pointer;
    width: 100%;
    &:hover {
      background-color: $secondary;
      border: 1px solid $tertiary;
      color: $dark;
    }
  }
  &:hover {
    background-color: $secondary;
  }
}

.btn_sizeMin {
  min-height: 40px;
  min-width: 100px;
  margin-top: $margin-m;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
  margin-top: $margin-m;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: $secondary;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid $tertiary;
  border-radius: 0;
  background: none;
  font: inherit;
  color: $tertiary;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: $tertiary;
  color: $secondary;
}
