//  Main Colors
$primary: #6cb051;
$secondary: #a9d09e;
$tertiary: #032e45;
$dark: #032e45;
$light: #f6e2bc;
$white: #ffffff;

//  Other Colors
$disabled: #cdcbd1;
$success: #1c7238;
$caution: #eba949;
$warning: #bd2c38;
