@import '../../styles/styles';

.initial-intake {
  &-container {
    margin: 0 30%;
    @media only screen and (max-width: 600px) {
      margin: 0 20%;
    }
    @media only screen and (max-width: 360px) {
      margin: 0 10%;
    }
    & .header-three {
      text-align: center;
    }
  }
}

label#select-label {
  color: $dark;
  font-size: $text-s;
}

div#select {
  text-align: center;
  padding: none;
}

.btn_sizeMin {
  margin: $margin-xs;
  width: 12em;
  font-weight: bold;
  letter-spacing: 1.15px;
  &.one {
    background-color: $caution;
    border-radius: 5em;
    border: 1px solid $light;
    color: $white;
    &:hover {
      background-color: $light;
      color: $dark;
      border: 1px solid $dark;
    }
  }
  &.two {
    background-color: $success;
    border-radius: 5em;
    border: 1px solid $primary;
    color: $white;
    &:hover {
      background-color: $secondary;
      color: $dark;
      border: 1px solid $dark;
    }
  }
}
