@import '../../../styles/styles';

.intake-form {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 0 25px;
  margin: 10px auto 30px;
  &-input {
    margin: $margin-l 0;
  }
  input {
    margin: 15px 0;
    border-top: none;
    border-right: none;
    border-left: none;
  }
  .btn_sizeMin.two {
    background: $dark;
    color: $white;
    &:hover {
      background: $white;
      color: $dark;
    }
  }
}
