@import '../../styles/styles';

.device-profile {
  &-container {
    img {
      width: 65%;
    }
    p {
      margin: 0.75em;
      font-size: small;
    }
    .btn_sizeMin {
      margin: 0 $margin-xs;
      width: 12em;
      font-weight: bold;
      letter-spacing: 1.15px;
      &.back {
        background-color: $dark;
        border-radius: 5em;
        border: 1px solid $tertiary;
        color: $white;
        &:hover {
          background: $white;
          color: $dark;
          border: 1px solid $dark;
        }
      }
      &.videos {
        background-color: $primary;
        border-radius: 5em;
        border: 1px solid $dark;
        color: $white;
        &:hover {
          background: $lightGrey;
          color: $dark;
          border: 1px solid $dark;
        }
      }
    }
  }
  &-content-row {
    margin: 0 1em;
  }
}
